---
control:
  advertise_url: http://{{ env "NOMAD_IP_tun_mesh_api" }}:{{ env "NOMAD_HOST_PORT_tun_mesh_api" }}

discovery:
  bootstrap_node_urls:
# This will likely include ourself.  We're smart enough to ignore that.
{{- range service "tjnii-tun-poc-api" }}
    - http://{{ .Address }}:{{ .Port }}
{{- end }}
    # Bogus entry to the list isn't empty (TODO)
    - http://127.0.0.1:4568

internal:
  private_address_cidr: 192.168.129.1{{ env "NOMAD_ALLOC_INDEX" }}/24
